---
import { Image, Picture } from "astro:assets";
import BaseLayout from "src/layouts/BaseLayout.astro";

import post05Img from "@images/post-05.png"
---

<BaseLayout title="Images">
    <h1 class="text-5xl text-white">Images</h1>

    <Image src="/assets/images/post-05.png" alt="Post Image" width="250" height="250" />
    <Image src={post05Img} alt="Post Image" width="250" height="250" />
    
    <h1>Quality Low</h1>
    <Image src={post05Img} quality="low" alt="Post Image" width="250" height="250" />

    <h1>Formatters</h1>
    <Image src={post05Img} format="avif" alt="Post Image" width="250" height="250" />

    <h1>Picture</h1>
    <Picture src={post05Img} formats={['webp', 'avif', 'jpg']} widths={[240, 540, 720, post05Img.width]} width="250" height="250" alt="Post Image"/>
</BaseLayout>