---
import MainLayout from "../layouts/MainLayout.astro";

const title = 'About Page'
---

<MainLayout title={title}>
    <h1>About</h1>
    <style>
        h1{
            color: red;
        }
    </style>
</MainLayout>

