---
import PokemonCard from "../components/PokemonCard.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const resp = await fetch('https://pokeapi.co/api/v2/pokemon');

const data = await resp.json();
const title = "Pokemon Static | Home"
---

<BaseLayout title={title}>
	<h1 class="text-3xl">Pokemon List</h1>
	<hr>
	<section aria-label="Pokemon list" class="grid grid-cols-1 sm:grid-cols-4 md:grid-cols-5 gap-4 mt-5">
		{data.results.map(({name, url}) => <PokemonCard name={name} url={url}/>)}
	</section>
</BaseLayout>