---
import BaseLayout from "../layouts/BaseLayout.astro";


// Server only
const name = 'Gustavo Daniel Perez Perez';
const title = 'About Page'
---
	
<BaseLayout title={title}>
	<h2>{name}</h2>
</BaseLayout>