---
import BaseLayout from "../layouts/BaseLayout.astro";


// Server only
const name = 'Gustavo Daniel Perez Perez';
const title = 'Home Page'
---
	
<BaseLayout title={title}>
	<h2>{name}</h2>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, perferendis expedita, iste officiis labore pariatur delectus animi, quaerat error distinctio nostrum! Reprehenderit itaque cumque quos distinctio, pariatur modi iste quae?</p>
</BaseLayout>
