---
import type { GetStaticPaths } from 'astro';
import MainLayout from '../../layouts/MainLayout.astro';

import type { PokemonListResponse } from '../../interfaces/pokemon-list.response';
import PokemonCard from '../../components/PokemonCard.astro';

export const getStaticPaths = (async ({ paginate }) => {
    const resp = await fetch('https://pokeapi.co/api/v2/pokemon?limit=151');
    const { results } = (await resp.json()) as PokemonListResponse;

    return paginate(results, { pageSize: 20 });
}) satisfies GetStaticPaths;

const title = 'Pokemon Static | Home';
const { page } = Astro.props;
---

<MainLayout title={title}>
    <h1>Pokemons List</h1>
    <hr />
    <section
        aria-label="Listado de Pokemons"
        class="grid grid-cols-1 sm:grid-cols-4 md:grid-cols-5 gap-4 mt-5"
    >
        {
            page.data.map(({ name, url }) => (
                <PokemonCard name={name} url={url} />
            ))
        }
    </section>
</MainLayout>
